html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'courier', monospace;
    background: #000;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 20px 100px;
    z-index: 1000;
}
header.sticky {
    padding: 5px 100px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
header .logo{
    font-family: 'black ops one', monospace;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.4s;
}
header .links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25em;
}
header .links a {
    color: #fff;
    position: relative;
    text-decoration: none;
    margin: 0 20px;
    letter-spacing: 5px;
    font-weight: 1000px;
    transition: 0.4s;
    border: 1px solid transparent;
    border-radius: 5px;
}
header .links a:hover {
    color: red;
}
header .links a.active {
    border: 1px solid #eee;
    border-radius: 5px;
    color: black;
    background-color: white;
}
header.sticky .links a{
    color: #000;
}
header.sticky .links a:hover {
    color: red;
}
header.sticky .links a.active {
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}
header.sticky .logo{
    color: #000;
}
.content {
    width: 100%;
    height: 100vh;
    background: 100vh;
}
.content section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
  }
  section h1 {
    font-family: 'black ops one', monospace;
    position: absolute;
    justify-content: center;
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    cursor: default;
  }
  .content section:nth-child(odd) {
    background-color: transparent;
    color: #fff;
  }
  .images .ali {
    position: absolute;
    left: 50%;
    width: 300px;
    height: 600px;
    bottom: 20%;
    transform: translateX(-50%);
    transition: left 1s;
    z-index: 1;
  }
  .images .pader{
    position: absolute;
    left: 50%;
    width: 700;
    height: 600;
    bottom: 20%;
    transform: translateX(-50%);
    transition: bottom 1s;
    z-index: 1;
  }
  .images:hover .pader {
    bottom: 25%;
  }
  .images:hover .ali {
    left: 48%;
  }
  .detail{
    position: absolute;
    z-index: 2;
    left: 660;
    bottom: 300;
    cursor: default;
  }
  .detail h2 {
    font-family: 'black ops one', monospace;
    font-size: 50px;
    margin-bottom: -5%;
    margin-left: 5%;
  }
  .detail p {
    font-size: 15px;
  }
  .card {
    height: 500PX;
    width: 450px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 3px;
    transition: box-shadow .5s;
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  .card-image {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(../images/cardbackground.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-image img {
    max-width: 100%;
    max-height: 100%;
    transition: max-width .6s, max-height .6s;
  }
  .card-body {
    height: 70px;
    width: fit-content;
    padding: 6px;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    background-size: cover;
    color: #fff;
    transition: .2s ease;
    bottom: 0px;
  }
  .card-body .type {
    font-weight: bolder;
    font-size: 1.1em;
  }
  .card-body h2 {
    font-size: 2em;
    margin: 5px auto 5px;
    font-family: 'black ops one', monospace;
  }
  .card-body p {
    margin: 10px auto -5px;
    opacity: 1;
  }
  .card:hover .card-image img{
    max-width: 110%;
    max-height: 110%;
  }
  .card:hover {
    box-shadow: 0 15px 30px -10px #000;
    cursor: pointer;
  }
  .card:hover .card-body {
    height: 98%;
  }
  .contact-info {
    display: flex;
    width: 17%;
    padding: 0 20px;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    flex-direction: column;
    z-index: 5;
  }
  .card1 {
    margin-bottom: 40;
    margin-left: 40;
    padding: 5;
    height: 60;
    width: 20%;
    display: flex;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  .card-icon {
    font-size: 28px;
    background: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    transition: .3s linear;
    color: #000;
    z-index: 6;
    text-align: center;
    align-content: center;
  }
  .card1:hover .card-icon{
    background: none;
    color: #fff;
    transform: scale(1.6);
  }
  .card1 p {
    margin-left: 20px;
    letter-spacing: 2px;
    opacity: 0;
    transition: .1s linear;
    height: 40;
    align-items: center;
    display: flex;
    pointer-events: none;

  }
  .card1:hover p{
    opacity: 1;
    height: 20px;
  }
  @media (max-width: 500px) {
    #home {
      height: 100%;
      width: 100%;
    }
    header{
        padding: 15px 30px;
        z-index: 1000;
    }
    header.sticky {
        padding: 2px 30px;
    }
    header .links {
        padding-right: 5em;
    }
    header .links a {
        margin: 0 4px; 
    }
    .contact-info {
      top: 55%;
      left: -10%;
    }
    .images .ali {
      width: 0;
      height: 0;
    }
    .images .pader{
      width: 0;
      height:0;
    }header .links {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 25em;
  }
  header .links a {
      color: #000;
      position: absolute;
      text-decoration: none;
      margin: 0 20px;
      letter-spacing: 5px;
      font-weight: 1000px;
      border: 1px solid transparent;
      border-radius: 5px;
      pointer-events: none;
      top: -2222rem;
  }
  header .logo{
      font-family: 'black ops one', monospace;
      position: relative;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      font-size: 4em;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.4s;
    }
    .contact-info {
      top: 60%;
    }
  }
  @media (max-width: 1000px) {
    #agents {
       flex-direction: column;
       height: auto;
       width: 100%;
       padding-top: 50%;
     }
     .card {
     width: 300px;
     }
    }
  /*footer {
    margin: 0;
    padding: 0;
    background: #000;
    color: #eee;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
}*/
